body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
}



.drinkar {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
  }
  
.drinkar img {
    width: 20cm;
    height: 14cm;
    object-fit: contain;
    margin: 5px;
  }
  