
body {
  display: grid;
  grid-template-columns: 1fr;
  font-family: "anchor-web", sans-serif;
  gap: 10px;
  padding: 0px;
  background-color: #23a1df;
  font-weight: 500;
  font-style: normal;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.logo img {
  max-width: 250px;
  max-height: 250px;
}

.arrow {
  border: solid #FFFFFF;
  border-width: 0 6px 6px 0;
  display: inline-block;
  margin: 10px;
  padding: 13px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.containerwh2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bakgrund-inne {
  background-position: center center;
  background-repeat: no-repeat; background-size: cover;
  background-image: url(/img/blue-01.png);
}

/* Bakgrundsfärg för den vänstra kolumnen */
.drinkar {
  background: #56c4fa;
  border: 4px solid transparent;
  transition: transform 0.3s ease;
  padding: 20px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0px;
  padding: 0px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.background-image {
  background-position: center center;
  background-size: cover;
  position: relative;
  padding-top: 50%; /* förhållandet mellan bredden och höjden av bilden */
}

.background-image h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;

}

/* H1 och P elementen */
h1, p {
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

h2, title {
  color: #FFFFFF;
}

/* Stil för h1 elementen */
h1 {  
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Stil för p elementen */
p {
  font-size: 18px;
  margin-bottom: 5px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/*CSS för filmer*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 20px;
  }
  
  .kategorier h2 {
  font-size: 24px;
  padding: 20px;
  margin: 0;
  text-align: center;
  }
  
 .kategorier button {
  display: block;
  width: 100%;
  padding: 0px;
  border: none;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 18px;
  cursor: pointer;
  }
  
  .kategorier button:hover {

  background-color: transparent;
  }
  
  /* CSS för kolumner och kategorier */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.kategori-enkel {
  background: linear-gradient(90deg, #81e8ff,#95ecff, #d1f7ff 100%);
  background-size: 200% 100%;
  animation: color-enkel 10s ease-in-out infinite;
}


.kategori-sorglig {
  background: linear-gradient(90deg, #2bbaea,#27a3da, #036ea2 100%);
  background-size: 200% 100%;
  animation: color-sorglig 10s ease-in-out infinite;
}

.kategori-djup {
  background: linear-gradient(90deg, #5DADE2,#2f6f95, #073952 100%);
  background-size: 200% 100%;
  animation: color-djup 10s ease-in-out infinite;
}

.kategori-spannande {
  background: linear-gradient(90deg, #036ea2,#4bacd2, #81e8ff 100%);
  background-size: 200% 100%;
  animation: color-spannande 10s ease-in-out infinite;
}



@keyframes color-enkel {
  25% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes color-sorglig {
  25% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;

  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes color-djup {
  25% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes color-spannande {
  25% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.kategorier {
  background-color: #FFFFFF;
  overflow: hidden;
  flex-basis: calc(30% - 10px); /* Uppdaterat värde för smalare kolumner */
  margin-bottom: 0px;
  padding: 0px;
  border-radius: 80px; /* Uppdaterat värde för rundare kanter */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}



/*Det följsamma designläget*/
@media only screen and (max-width: 390px) {
  body {
    grid-template-columns: 1fr;
    gap: 5px;
    padding: 10px;
  }
  
  .drinkar {
    padding: 10px;
    margin-bottom: 5px;
  }
  h1 {
    font-size: 22px;
    margin-bottom: 5px;
  }
  p {
    font-size: 16px;
    margin-bottom: 3px;
  }
}
