body {
  display: grid;
  grid-template-columns: 1fr;
  font-family: "anchor-web", sans-serif;
  gap: 10px;
  padding: 10px;
  background-color: #23a1df;
  font-weight: 500;
  font-style: normal;
  overflow-x: hidden;
  min-height: 100%;
}

header {
  margin-top: 1rem;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.arrow {
  border: solid #ffffff;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 13px;
  margin-top: 40px;
  margin-left: -15px;
}

.left {
  transform: rotate(135deg);
}

.left-arrow {
  margin-right: 10px;
  margin-left: 30px;
}

.container h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-sectionTitle {
  display: flex;
  justify-content: space-between;
}

.searchFilters {
  text-align: center;
}

.container-sectionTitle a {
  margin-right: -50px;
}

.sectionTitle {
  text-align: center;
  color: #FFF;
  padding: 1%;
  margin-bottom: 0;
  font-size: 35px;
  background-color: #62C8EA;
  width: 45%;
  border-radius: 200px 0px 0px 200px;
  
}

/* bakgrund för inne.html. */

.bakgrund-inne {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/img/blue-01.png);
  margin: 0;
  background-attachment: fixed;
}

/* Bakgrundsfärg för den vänstra kolumnen */
.recept {
  background: #56c4fa;
  border: 1px solid transparent;
  padding: 20px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  text-align: left;
  gap: 0px;
  padding: 0px;
  border-radius: 20px;
  overflow: hidden;
}

.recept p {
  padding: 5px;
  text-align: left;
  font-size: 18px;
}

.receptinstruktioner {
  font-weight: 700;
}

/*CSS för spel*/
.games-background {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/img/blue-01.png);
}

.games {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  padding: 10px;
}

.games > div {
  background: #56c4fa;
  text-align: center;
  border-radius: 40px;
  gap: 10px;
  padding: 10px;
  overflow: hidden;
}

.games p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
}

.game-title {
  position: relative;
  color: white;
}

.expanded-content {
  position: relative;
  z-index: 1;
  color: white;
}

.background-image {
  background-position: center center;
  background-size: cover;
  position: relative;
  padding-top: 50%;
  border-radius: 20px;
}

.background-image h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  border-radius: 20px;

}

.sectionTitle {
  color: #FFFFFF;
  margin: -10px;
  margin-top: 25px;
  margin-bottom: 50px;
  padding: 10px;
}

.title {
  color: #FFFFFF;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 5px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*CSS för filmer*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 20px;
  user-select: none;
}

#filmInstructions {
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 50px;
}

.kategorier h2 {
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

/* CSS för kolumner och kategorier */
.kategori-enkel {
  background: linear-gradient(90deg, #81e8ff, #95ecff, #d1f7ff 100%);
  background-size: 200% 100%;
  animation: color-enkel 10s ease-in-out infinite;
  min-height: 100px;

}

.kategori-sorglig {
  background: linear-gradient(90deg, #2bbaea, #27a3da, #036ea2 100%);
  background-size: 200% 100%;
  animation: color-sorglig 10s ease-in-out infinite;
  min-height: 100px;
}

.kategori-djup {
  background: linear-gradient(90deg, #5DADE2, #2f6f95, #073952 100%);
  background-size: 200% 100%;
  animation: color-djup 10s ease-in-out infinite;
  min-height: 100px;
}

.kategori-spannande {
  background: linear-gradient(90deg, #036ea2, #4bacd2, #81e8ff 100%);
  background-size: 200% 100%;
  animation: color-spannande 10s ease-in-out infinite;
  min-height: 100px;
}




@keyframes color-enkel {
  25% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes color-sorglig {
  25% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;

  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes color-djup {
  25% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes color-spannande {
  25% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#resultat-enkel,
#resultat-sorglig,
#resultat-djup,
#resultat-spannande,
p {
  font-size: 2rem;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.kategorier {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #FFFFFF;
  overflow: hidden;
  flex-basis: calc(30% - 10px);
  /* Uppdaterat värde för smalare kolumner */
  margin-bottom: 0px;
  padding: 10px;
  border-radius: 80px;
  /* Uppdaterat värde för rundare kanter */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: 100px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


/*Det följsamma designläget*/
@media only screen and (max-width: 390px) {
  body {
    grid-template-columns: 1fr;
    gap: 5px;
    padding: 10px;
  }

  .recept {
    padding: 10px;
    margin-bottom: 5px;
  }

  h1 {
    font-size: 22px;
    margin-bottom: 5px;
  }

  p {
    font-size: 16px;
    margin-bottom: 3px;
  }
}