body {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    min-height: 20vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.container input[type="number"]{
    width: 50px;
    height: 30px;
    font-size: 15px;

}