body {
  font-family: "anchor-web", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-image: url(/img/backgroundforsparkr5-01.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

p {
  margin: 0;
}

#random {
  text-align: center;
  color: white;
  font-size: 40px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.choice1 {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  margin: -10px;
  height: 400px;
  align-items: center;

}

.button1 {
  font-size: 18px;
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #23a1df 100%);
  padding: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-radius: 68px 68px 68px 68px;
  border: 0px solid #000000;
  transition: 0.1s;
}

.button1:active {
  transform: scale(1.05);
}

.button2 {
  font-size: 18px;
  background-color: #994dc7;
  background-image: linear-gradient(90deg, #8f2685 0%, #994dc7 100%);
  padding: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-radius: 68px 68px 68px 68px;
  border: 0px solid #000000;
  width: auto;
  transition: 0.1s;
}

.button2:active {
  transform: scale(1.05);
}

#choose-text {
  text-align: center;
  color: white;
  height: auto;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}



h2 {
  text-align: center;
  font-size: medium;
  margin-top: -0px;
  text-transform: uppercase;
  color: #000000;
  height: auto;
}

#randomBtn {
  position: relative;
  z-index: 2;
}

.button3 {
  font-size: 18px;
  background-color: #44a4ed;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  cursor: pointer;
  border-radius: 50px;
  justify-content: center;
  font-family: "anchor-web", sans-serif;
  border-style: none;
  margin: auto;
  display: flex;
  width: 300px;
  justify-content: center;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.button3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent 0%, rgba(153, 77, 199, 1) 10%, rgba(50, 208, 244, 1) 90%, transparent 100%);
  transform: translateX(-100%);
  animation: waveAnimation 7s linear infinite;
  z-index: -1;
}

@keyframes waveAnimation {
  0% { transform: translateX(-100%); }
  50% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}



.button3:active {
  transform: scale(1.05);
}

form {
  columns: 2;
  column-gap: 1em;
}

label {
  display: block;
}

.arrow {
  border: solid #ffffff;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 13px;
  margin-top: 40px;
  margin-left: 25px;
}

.left {
  transform: rotate(135deg);

}


.scaled-image {
  transform: scale(1.5);
}

#googleMap {
  display: flex;
  justify-content: center;
  width: auto;
  height: 140px;
  border: solid 3px #994dc7;
  margin: 20px;
  margin-top: 10%;
}

#directions-btn-placement {
  display: flex;
  justify-content: center;
}

#directions-btn {
  background: linear-gradient(90deg, rgba(50,208,244,1) 0%, rgba(153,77,199,1) 59%);
  border-color: rgb(226, 225, 225);
  border-radius: 50px;
  color: white;
  border-style: solid;
  padding: 10px;
  cursor: pointer;
  font-family: "anchor-web", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 150%;
}

#directions-btn:active {
  background-color: #651860;
}



.infoBar {
  border-top: 10px solid #994dc7;
  border-bottom: 10px solid #994dc7;
  border-radius: 10px;
  margin: 20px;
  padding-left: 2%;
  background-color: #fcf9ff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.infoBar h1 {
  position: absolute;
  left: 50%;

}

.contact p {
  display: inline-block;
}

.infoBar-line {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

#randomName {
  color: #994dc7;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  font-size: 40px;
  max-width: 80%;
}

#randomDescription {
  text-align: left;
  color: #3f0c5c;
  margin: 0;
  font-size: 25px;
}

#randomWebsite img {
  width: 30px;
  height: 30px;
  margin: 0;
  margin-right: 5px;
  margin-top: 5px;
}

#randomTel img {
  width: 30px;
  height: 30px;
  margin: 0;
  margin-right: 15px;
  margin-top: 5px;
}


.wrapper-telwebsite {
  display: flex;
  margin-left: auto;
}

.container-sectionTitle {
  display: flex;
  justify-content: space-between;

}

.sectionTitle {
  text-align: center;
  color: #FFF;
  padding: 1%;
  margin-bottom: 0;
  font-size: 35px;
  background: linear-gradient(90deg, rgba(50,208,244,1) 0%, rgba(153,77,199,1) 59%);
  width: 45%;
  border-radius: 200px 0px 0px 200px;
}

#randomAbstract {
  margin: 0;
  font-size: 20px;
  color: #994dc7;
  font-style: italic;
}

.random-categories-container {
  display: flex;

}

.categories-wrapper-left p {
  flex: 1;
  text-align: left;
  margin: 0;
}

.categories-wrapper-right {
  flex: 1;
  text-align: right;
  margin: 0;
  margin-right: 5%;
}


.etaText {
  color: #ffffff;
  font-size: 1.2rem;
}

.etaIcons {
  width: 30px;
  height: auto;
  margin-right: 10px;
  margin-left: 25px;
}

.etaIcons:first-child {
  margin-left: 0px;
}

#walkingIcon {
  width: 16px;
  height: auto;
}

#eta {
  opacity: 0;
}

#eta.visible {
  opacity: 1;
  transition: opacity 0.8s ease;
}

#eta.modified {
  opacity: 0;
}

.etaIconsContainer {
  margin-top: 5%;
  position: relative;
  top: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.etaIconsContainer::after {
  content: "";
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 300px;
  background-color: #ffffff;
  border-radius: 5px;
}

#weatherInfo {
  color: #ffffff;
  text-align: center;
  position: relative;
  top: 2.3rem;
  margin-bottom: 60px;
  font-size: 1.2rem;
}

.visible~#weatherInfo {
  margin-top: 37px;
}