@font-face {
  font-family: 'MemphisRiver';
  src: url(/fonts/Memphis\ River.otf);

}

@font-face {
  font-family: 'SFUIText-Bold';
  src: url(/fonts/SFUIText-Bold.otf);

}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #DDA5A5;
 
}

#Header {
  text-align: center;
  font-family: 'MemphisRiver';
  font-size: 60px;
  height: auto;
  margin-top: 10px;
  color: #000000;
}

h2 {
  text-align: center;
  font-size: medium;
  margin-top: -0px;
  font-family: 'SFUIText-bold';
  font-style: italic;
  text-transform: uppercase;
  color: #000000;
  height: auto;

}

#activity {
  text-align: center;
  margin-top: 20px;
  font-family: 'SFUIText-Bold';
  color: #cacaca;
  height: auto;
}

.container {
  display: flex;
  justify-content: space-around;
  font-family: 'SFUIText-Bold';
}

.choose {
  font-family: 'SFUIText-Bold';
  text-align: center;
  color: #cacaca;
  height: auto;
}

.choice1 {
  font-family: 'SFUITEXT-Bold';
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin: 0 80px;
  height: 400px;
  align-items: center;
}

.button1 {
  font-family: 'SFUIText-Bold';
  font-size: 18px;
  background: #4ad5f7;
  padding: 60px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: auto;
  
}

.button2 {
  font-family: 'SFUIText-Bold';
  font-size: 18px;
  background: #f64606;
  padding: 60px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: auto;
  
}


.button3 {
  font-family: 'SFUIText-Bold';
  font-size: 18px;
  background: #303934;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: auto;
}

