
body {
  font-family: "anchor-web", sans-serif;
  font-weight: 500;
  font-style: normal;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  margin: 0;
  padding: 0;

}

#Header {
  text-align: center;
  font-size: 60px;
  height: auto;
  margin-top: 10px;
  color: #000000;
}

h2 {
  text-align: center;
  font-size: medium;
  margin-top: -0px;
  text-transform: uppercase;
  color: #000000;
  height: auto;

}

#activity {
  text-align: center;
  margin-top: 100px;
  color: #cacaca;
  height: auto;
  font-size: 50px;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-around;
}

.choose {
  text-align: center;
  color: #cacaca;
  height: auto;
}

.choice1 {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  margin: -10px;
  height: 400px;
  align-items: center;
}

.button1 {
  font-size: 18px;
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #23a1df 100%);
  padding: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: auto;
  border-radius:  0 50px;
}

.button2 {
  font-size: 18px;
  background-color: #994dc7;
  background-image: linear-gradient(90deg, #8f2685 0%, #994dc7 100%);
  padding: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: auto;
  border-radius: 50px 0;
}


.button3 {
  font-size: 18px;
  background-color: #3785fb;
  background-image: linear-gradient(180deg, #32d0f4 0%, #23a1df 100%);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  cursor: pointer;
  display: flex;
  border-radius: 50px;
  justify-content: center;
  width: auto;
}

form {
  columns: 2;
  column-gap: 1em;
}

label {
  display: block;
}

.arrow {
  border: solid rgb(82, 80, 80);
  border-width: 0 3px 3px 0;
  display: inline-block;
  margin: 10px;
  padding: 13px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}


.logo {
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #994dc7 100%);
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 0 0 50% 50%;
  color: white;
  text-transform: uppercase;
  font-size: 180px;
  animation: color 10s ease-out infinite;
  background-size: 200% 200% ;
}

@keyframes color {
  25% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}