/* Bakgrund Animation för Loggan för ute.html och allt inom ute.*/
.logo {

    background-image: linear-gradient(90deg, #34a8ce 0%, #994dc7 100%);
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 0 0 50% 50%;
    color: white;
    text-transform: uppercase;
    font-size: 180px;
    animation: color 10s ease-out infinite;
    background-size: 200% 200%;
}

@keyframes color {
    25% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}



body {
    font-family: "anchor-web", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    text-align: center;
    color: #00DBDE;
    font-size: 3.5rem;
}

#googleMap {
    width: 350px;
    height: 200px;
    border: solid rgba(238, 13, 13, 1);

}

#establishmentWebsite img {
    width: 40%;
    position: relative;
    left: 25%;
}

#establishmentTel img {
    width: 40%;
    position: relative;
    left: 85%;
    transform: rotate(0deg);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

#ute {
    text-align: center;
    color: #994dc7;
    font-size: 3.5rem;
}

.button3 {
    font-family: "anchor-web", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 200%;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #23a1df 100%);

    padding: 33px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: auto;
    margin: 25px;
}

.arrow {
    border: solid #994dc7;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 13px;
    margin-top: 40px;
    margin-left: 25px;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}



.button4 {
    font-family: "anchor-web", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 200%;
    background-color: #994dc7;
    background-image: linear-gradient(90deg, #8f2685 0%, #994dc7 100%);
    ;
    padding: 33px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: auto;
    margin: 25px;
}

/* STILLSÄTTNING FÖR nattliv.HTML */

.container-sectionTitle {
    display: flex;
    justify-content: space-between;

}


.container-sectionTitle a {
    margin-right: -50px;

}

.sectionTitle {
    text-align: center;
    color: #FFF;
    padding: 1%;
    margin-bottom: 0;
    font-size: 35px;
    background-color: #994dc7;
    width: 45%;
    border-radius: 200px 0px 0px 200px;
}

#establishmentInfo {
    text-align: left;
    font-size: 1rem;
}

#establishmentTel a {
    color: #3f0c5c;
}

#establishmentName {
    color: #994dc7;
    text-align: left;
    text-transform: uppercase;
    padding: 0em;
    margin-top: 0;
}

#establishmentDescription {
    text-align: left;
    margin-top: -60px;
    color: #3f0c5c;
}

#establishmentRating {
    margin-bottom: 2%;
}

#googleMap {
    display: flex;
    justify-content: center;
    width: auto;
    height: 140px;
    border: solid 3px #994dc7;
    margin: 20px;
    margin-top: 10%;
}

#directions-btn-placement {
    display: flex;
    justify-content: center;
}

#directions-btn {
    border-radius: 50px;
    background-color: #440d66;
    color: white;
    border-style: none;
    padding: 10px;
    cursor: pointer;
    font-family: "anchor-web", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 150%;
}




.infoBar {
    border-top: 10px solid #994dc7;
    border-bottom: 10px solid #994dc7;
    border-radius: 10px;
    margin: 20px;
    padding-left: 2%;
    background-color: #fcf9ff;
}

.infoBar h1 {
    position: absolute;
    left: 50%;

}

.contact p {
    display: inline-block;
}

.infoBar-line {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}


/* STILLSÄTTNING FÖR restaurangochpub.HTML */

h3 {
    font-size: 25px;
}

#foodType {
    text-align: center;
}

#foodType h2 {
    font-size: 35px;
}

#foodType label {
    display: inline-block;
    text-align: center;
}

#foodPrice {
    text-align: center;
}

#foodPrice label {
    text-align: center;
    display: inline-block;

}

#foodPrice h3 {
    text-align: center;
}

#foodPrice {
    text-align: center;
}

.container2 {
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

#generateResults {
    padding: 10px;
    width: 100px;
    background-color: #994dc7;
    border-color: rgb(226, 225, 225);
    border-radius: 50px;
    color: white;
    border-style: solid
}

#changeFilters {
    padding: 10px;
    width: 100px;
    background-color: #994dc7;
    border-color: rgb(226, 225, 225);
    border-radius: 50px;
    color: white;
    border-style: solid
}

#generateResults:hover {
    background-color: #651860;
}

#changeFilters:hover {
    background-color: #651860;
}

#restaurangPubInfo {
    text-align: center;
}

#restaurangPubDescription {
    text-align: left;
    margin-top: -60px;
    color: #3f0c5c;
}

#restaurangPubName {
    color: #994dc7;
    text-align: left;
    text-transform: uppercase;
    padding: 0em;
    margin-top: 0;
}

#restaurangPubinfo {
    text-align: left;
}

#restaurangPubAddress {
    text-align: left;
}

#restaurangPubPriceRng {
    text-align: left;
}

#restaurangPubRating {
    text-align: left;
}

#restaurangPubTel img {
    width: 40%;
    position: relative;
    left: 85%;
    transform: rotate(0deg);
}

#restaurangPubWebsite img {
    width: 40%;
    position: relative;
    left: 25%;
}

#activityFilters {
    display: inline-block;
    text-align: center;
}



/* för radio knapparna------ */

.priceOpt,
.foodOpt,
.activityOpt {
    padding: 10px;
    background-color: #994dc7;
    border-radius: 100px;
    margin: 5px;
    color: white;
}

.radiobuttons {
    padding: 10px;
    background-color: #994dc7;
    border-radius: 100px;
    margin: 5px;
    color: white;
}



/*CSS för random.html */

.container-random-word {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 80vh;
}


#box {
    width: 100px;
    height: 100px;
    background-color: rgb(226, 226, 232);
    transition: all 1.25s ease;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'SFUIText-Bold';
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.box.flipped {
    transform: rotateY(360deg);
    background-color: rgb(185, 182, 182);
}

#textbox {
    font-size: 50px;
    margin: 0;
    padding: 0;
}

#generate {
    text-align: center;
}