html,
body {
    margin: 0;
    min-height: 100%;
    font-family: "anchor-web", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/* CSS för ute.html ---------------------------------------------------------------------*/
.bakgrund-ute {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/img/purple2-01.png);
    margin: 0;
}

.container-arrowh2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.arrow {
    border: solid #ffffff;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 13px;
    margin-top: 40px;
    margin-left: 25px;
}

.left {
    transform: rotate(135deg);
}

.left-arrow {
    margin-right: 10px;
    margin-bottom: 30px;
}

.centered-text {
    flex-grow: 1;
    text-align: center;
    margin-right: 55px;
}

#ute {
    text-align: center;
    color: white;
    font-size: 3.5rem;
}

.button4 {
    font-family: "anchor-web", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 200%;
    background-color: rgb(111, 45, 168);
    background-image: linear-gradient(90deg, #af5de2 0%, #1a121a 100%);
    padding: 33px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: auto;
    margin: 25px;
    animation: color 1s ease-out infinite;
    background-size: 200% 200%;
    transition: 0.1s;
}

.button4:active {
    transform: scale(1.05);
}

@keyframes button4-color {
    25% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.ute-categories-container {
    /*Container för nattliv.html + restaurangpub.html + y) */
    display: flex;
}

/* CSS för nattliv.html----------------------------------------------------------------------*/


.container-sectionTitle {
    /* Container för Nattliv.html + aktiviteter.html */
    display: flex;
    justify-content: space-between;

}

.container-sectionTitle a {
    /* Stillsättning för Nattliv.html + Restaurangochpub.html */
    margin-right: -50px;

}


.sectionTitle {
    /* Stillsättning för Nattliv.html + Restaurangochpub.html + aktiviteter.html */
    text-align: center;
    color: #FFF;
    font-size: 35px;
    background-color: #994dc7;
    width: 45%;
    border-radius: 200px 0px 0px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchFilters {
    text-align: center;
}

.container-Resullts-filters {
    /*Container för nattliv, aktiviter, restaurangpub.html */
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

#generateResultsNattliv {
    padding: 10px;
    width: 150px;
    background-color: #994dc7;
    border-color: rgb(226, 225, 225);
    border-radius: 50px;
    color: white;
    border-style: solid;
    font-family: "anchor-web", sans-serif;
    font-size: large;
    margin-top: 280px;
    margin-bottom: 20px;
}

#generateResultsNattliv:hover {
    background-color: #651860;
}

#establishmentInfo {
    /*div för nattliv, rp o aktiviter.html */
    text-align: left;
    font-size: 1rem;
}

#googleMap {
    /* Karta för nattliv, rp o aktiviter.html) */
    display: flex;
    justify-content: center;
    width: auto;
    height: 140px;
    border: solid 3px #994dc7;
    margin: 20px;
    margin-top: 10%;
}

.infoBar {
    /* Nattliv, restaurangpub + aktiviter.html div */
    border-top: 10px solid #994dc7;
    border-bottom: 10px solid #994dc7;
    border-radius: 10px;
    margin: 20px;
    padding-left: 2%;
    background-color: #fcf9ff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.infoBar h1 {
    position: absolute;
    left: 50%;

}

.infoBar-line {
    /*Nattliv + Restaurangochpub + aktiviter.html */
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}


#establishmentName {
    color: #994dc7;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    font-size: 40px;
    max-width: 70%;
}

.wrapper-telwebsite {
    /* Wrapper för Nattliv.html + Restaurangpub.html + aktiviter.html*/
    display: flex;
    margin-left: auto;
}

#establishmentTel a {
    color: #3f0c5c;
}

#establishmentWebsite img,
#establishmentTel img {
    width: 30px;
    height: 30px;
    margin: 0;
    margin-right: 5px;
}

.categories-wrapper-left P {
    /*wrapper för nattliv.html + restaurangpub.html + aktiviter.html) */
    flex: 1;
    text-align: left;
    margin: 0;
}

#establishmentDescription {
    text-align: left;
    color: #3f0c5c;
    margin: 0;
}

#establishmentRating {
    margin-bottom: 2%;
}

.categories-wrapper-right {
    /* Wrapper för Nattliv.html + restaurangpub.html + aktiviter.html) */
    flex: 1;
    text-align: right;
    margin: 0;
    margin-right: 5%;
}

#establishmentAbstract {
    margin: 0;
    font-size: 20px;
    color: #994dc7;
    font-style: italic;
}

/*Restaurangochpub.html------------------------------------------------------------------------*/

#foodType h2 {
    font-size: 35px;
}

#foodType h3 {
    color: white;
}

#foodType label {
    display: inline-block;
    text-align: center;
}

#foodType {

    text-align: center;
}

#foodPrice {
    text-align: center;
}

#foodPrice label {
    text-align: center;
    display: inline-block;

}

#foodPrice h3 {
    text-align: center;
    color: white;
}

#foodPrice {
    text-align: center;
}

#restaurangPubName {
    color: #994dc7;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    font-size: 40px;
    max-width: 70%;
}

#restaurangPubTel img,
#restaurangPubWebsite img {
    width: 30px;
    height: 30px;
    margin: 0;
    margin-right: 10px;

}

#restaurangPubDescription {
    text-align: left;
    color: #3f0c5c;
    margin: 0;
}

#restaurangPubAddress {
    text-align: left;
}

#restaurangPubPriceRng {
    text-align: left;
}

#restaurangPubRating {
    text-align: left;
}


#restaurangPubAbstract {
    margin: 0;
    font-size: 20px;
    color: #994dc7;
    font-style: italic;
}

/*aktiviter.html------------------------------------------------------------------------------*/

.activityFilters {
    text-align: center;
}

.activityFilters h3 {
    color: white;
}

.activityOpt {
    display: inline-block;
    padding: 10px;
    background-color: #994dc7;
    border-radius: 100px;
    margin: 5px;
    color: white;
}

#activityName {
    color: #994dc7;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    font-size: 40px;
    max-width: 70%;
}

#activityDescription {
    text-align: left;
    color: #3f0c5c;
    margin: 0;
}

#activityTel img,
#activityWebsite img {
    width: 30px;
    height: 30px;
    margin: 0;
    margin-right: 5px;
}

#activityAbstract {
    margin: 0;
    font-size: 20px;
    color: #994dc7;
    font-style: italic;
}

/*Stillsättning av olika knappar--------------------------------------------------------------*/


#directions-btn-placement {
    display: flex;
    justify-content: center;
}

#directions-btn {
    padding: 10px;
    width: 150px;
    background-color: #994dc7;
    border-color: rgb(226, 225, 225);
    border-radius: 50px;
    color: white;
    border-style: solid;
    font-family: "anchor-web", sans-serif;
    font-size: large;
    margin-left: 15PX;
}

#directions-btn:hover {
    background-color: #651860;
}

#generateResults {
    padding: 10px;
    width: 150px;
    background-color: #994dc7;
    border-color: rgb(226, 225, 225);
    border-radius: 50px;
    color: white;
    border-style: solid;
    font-family: "anchor-web", sans-serif;
    font-size: large;
    margin-bottom: 20px;
}


#changeFilters {
    padding: 10px;
    width: 150px;
    background-color: #994dc7;
    border-color: rgb(226, 225, 225);
    border-radius: 50px;
    color: white;
    border-style: solid;
    font-family: "anchor-web", sans-serif;
    font-size: large;
}


#generateResults:hover {
    background-color: #651860;
}

#changeFilters:hover {
    background-color: #651860;
}

/* för radio knapparna------ */

.priceOpt,
.foodOpt {
    padding: 10px;
    background-color: #994dc7;
    border-radius: 100px;
    margin: 5px;
    color: white;
}

.radiobuttons {
    padding: 10px;
    background-color: #994dc7;
    border-radius: 100px;
    margin: 5px;
    color: white;
}

input {
    accent-color: rgb(147, 33, 162);
}

/* Stillsättning för slidebar radies och föregående och nästgående sida */

#changeRadius {
    display: flex;
    margin: 50px;
    justify-content: center;
    background-color: #e2c8da;
    border-radius: 50px;
    width: auto;
    padding: 2%;
    color: rgb(147, 33, 162);
    text-align: center;
}

.container-scrollBtns {
    display: flex;
    justify-content: center;
}

#scrollBtns {
    text-align: center;
    color: white;
}

.indexBtns {
    padding: 20px 25px;
    border-radius: 50%;
    border-style: none;
    margin: 30px;
    margin-top: -50px;
}

.indexBtns:active {
    background-color: #ddd;
    color: black;
}

#indexCounter {
    text-align: center;
    color: white;
    font-size: 1.5rem;
}


.etaText {
    color: #ffffff;
    font-size: 1.2rem;
}

.etaIcons {
    width: 30px;
    height: auto;
    margin-right: 10px;
    margin-left: 25px;
}

.etaIcons:first-child {
    margin-left: 0px;
}

#walkingIcon {
    width: 16px;
    height: auto;
}

#eta {
    opacity: 0;
}

#eta.visible {
    opacity: 1;
    transition: opacity 0.8s ease;
}

#eta.modified {
    opacity: 0;
}

.etaIconsContainer {
    margin-top: 5%;
    position: relative;
    top: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.etaIconsContainer::after {
    content: "";
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 300px;
    background-color: #ffffff;
    border-radius: 5px;
}

#weatherInfo {
    color: #ffffff;
    text-align: center;
    position: relative;
    top: 2.3rem;
    margin-bottom: 60px;
    font-size: 1.2rem;
}

.visible ~ #weatherInfo {
    margin-top: 37px;
}